<div class="cabecalho-modal"> <a type="button" class="fechar" ng-click="fechar()">×</a>
        <h4 class="titulo-modal"><em>Incluir Fornecedor</em></h4>
      </div>
<div class="modal-body">    
</div>
<div class="rodape-modal">
    <button class="bt bt-padrao bt-cancelar" type="button" ng-click="limpar()"><mark class="cor"></mark>Limpar</button>
	<button class="bt bt-padrao" type="button" ng-click="incluir()"><mark class="cor"></mark>Incluir</button>
</div>