.bt{
	@extend .btn;
	font-size: $tamanhoFonte;
	&.bt-incluir{
		@extend .btn-primary, .btn-sm, .pull-right;
	}
	&.bt-padrao,
	&.bt-padrao:hover{
		@extend .btn-default,.btn-xs;
		color: $confirmar;
		padding: 0 14px 0 0;
		line-height: 22px;
		font-family: $fontePrimariaNegrito;
		border-radius: 5px;

		.cor{
			width: 30px;
			height: 22px;
			float: left;
			background: $confirmar;
			margin-right:  14px;
			border-radius: 5px 0 0 4px;
		}
	}
	&.bt-cancelar,
	&.bt-cancelar:hover{
		color: $cancelar;

		.cor{
			background: $cancelar;
		}
	}
	&.bt-aviso,
	&.bt-aviso:hover{
		color: $aviso;

		.cor{
			background: $aviso;
		}
	}
	&.bt-sucesso,
	&.bt-sucesso:hover{
		color: $sucesso;

		.cor{
			background: $sucesso;
		}
	}
}