.header{
	/* background-color: $branco; */
	background: rgba(203,203,203,1);
	background: -moz-linear-gradient(top, rgba(203,203,203,1) 0%, rgba(217,217,217,1) 27%, rgba(233,233,233,1) 48%, rgba(255,255,255,1) 84%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(203,203,203,1)), color-stop(27%, rgba(217,217,217,1)), color-stop(48%, rgba(233,233,233,1)), color-stop(84%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top, rgba(203,203,203,1) 0%, rgba(217,217,217,1) 27%, rgba(233,233,233,1) 48%, rgba(255,255,255,1) 84%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top, rgba(203,203,203,1) 0%, rgba(217,217,217,1) 27%, rgba(233,233,233,1) 48%, rgba(255,255,255,1) 84%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(203,203,203,1) 0%, rgba(217,217,217,1) 27%, rgba(233,233,233,1) 48%, rgba(255,255,255,1) 84%, rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(203,203,203,1) 0%, rgba(217,217,217,1) 27%, rgba(233,233,233,1) 48%, rgba(255,255,255,1) 84%, rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$Silver', endColorstr='$branco', GradientType=0 );
	.logo-sptrans{
		// @extend .global-sprites;
		background: url($caminhoImagens+'global/sptransLogo.png') no-repeat; 
		width: image-width($caminhoImagens+'global/sptransLogo.png');
		height: image-height($caminhoImagens+'global/sptransLogo.png');
		text-indent: -9999px;
		margin: 0;
	}
	.titulo-principal{
		@extend .text-center,.h5;
		font-family: $fontePrimariaNegrito;
		line-height: 30px;
		margin: 0;
	}
	.logo-bilhete{
		// @extend .global-bilheteunico;
		@extend .pull-right;
		background: url($caminhoImagens+'global/bilheteunico.png') no-repeat; 
		width: image-width($caminhoImagens+'global/bilheteunico.png');
		height: image-height($caminhoImagens+'global/bilheteunico.png');
		text-indent: -9999px;
		margin: 0;
	}
}
menu{
	background: $menu;
	height: 30px;
	margin: 0;
	
	.celular-menu  {
		margin-right: 5px;
		margin-top: -1px;
		cursor: pointer;
		span {
			position: relative;
			display: block;
			width: 30px;
			height: 4px;
			margin: 4px auto;
			left: 5px;
			top: 2px;
			background: #fff;
			-webkit-transition: all .3s ease-in;
			-moz-transition: all .3s ease-in;
			-o-transition: all .3s ease-in;
			transition: all .3s ease-in;
		}

		&.active span:nth-child(2) {
			opacity: 0;
		}

		&.active span:first-child {
			top: 9px;
			-webkit-transform: rotate(-135deg);
			-moz-transform: rotate(-135deg);
			-o-transform: rotate(-135deg);
			transform: rotate(-135deg);
		}

		&.active span:last-child {
			top: -7px;
			-webkit-transform: rotate(135deg);
			-moz-transform: rotate(135deg);
			-o-transform: rotate(135deg);
			transform: rotate(135deg);
		}
	}

	.box-menu {
		background: $menu;;
		margin-top: 2px;
		display: none;
		position: absolute;
		width:100%;
		z-index: 999;

		.menu, .menu ul {
			list-style: none;
			padding-left: 0px;
		}

		.menu li a {
			font-weight: 200;
			display:block;
			text-transform: uppercase;
			text-align: center;
			padding:10px;
			color: #fff;
		}

		.submenu {
			display: none;
			background-color: $menu;;

			li a{
				display: block;
				
			}

			ul {
				display: none;
				background-color: $menuOver;
			}
		}

	}
	.usuario {
		@extend .pull-right;
		display: block;
		color: #fff;
		text-align: right;
		padding-right: 0px;
		padding-top: 5px;

	}
}


@media (min-width: $screen-md-min) {
	.header{
		.titulo-principal{
			line-height: 50px;
		}
	}
	menu{

		.celular-menu  {
			display:none;
		}

		.box-menu {
			text-align: left;
			background-color: transparent;
			display: block;
			
			.menu {
				margin: 0; 
				padding: 0; 
				list-style: none;
				margin-top: 3px;
				li {
					position: relative;
					float: left; 
					width: 150px;
					height: 30px;
					margin-top: -5px;

					a {
						text-align: left;
						display:block;
						color: $branco;
						font-size: 12px;
						text-decoration: none;
						padding-top: 7px;
						padding-bottom: 0px;
						height: 30px;
						&a:hover {
							background-color: rgba(255,255,255,0.3);
							color: $branco
						}
					}
				}
			}

			.submenu {
				position: absolute;
				left: 0;
				padding-left: 0;
				background-color: $menu;
				li {
					margin-top: 0px;
					a{
						display: block;
						padding: 8px;
					}
				}

				ul {
					display: none;
					top: 0;
					list-style: none;
					position: absolute;
					margin-left: 150px;
					padding-left: 0;
					background-color: $menuOver;
					li {
						width: 200px;
					}
				}
			}
		}
	}
}