.formulario{
	@extend .panel, .panel-default;
	.filtro{
		@extend .form-horizontal;
		padding: 15px;
	}
	.titulo-filtro{
		display: inline-block;
		color: $textoClaro;
		font-size: 14px;
	}
	.acordion{
		margin-bottom:15px;
		overflow: hidden;
		
	}
	.conteudo-filtrado{
		margin-left: 20px;
		font-size: 14px;
		.fa{
			color: $confirmar;
			// font-size:22px;
		}
	}
	.form-group{
		margin: 0 0 10px 0; 
	}
	.acoes{
		@extend .text-center;
		padding-top: 10px;
	}
	
	.control-label{
		font-size: 11px;
		color: $texto; 
		font-family: $fonteSecundaria;
	}
}