body{
	font-family: $fontePrimaria;
	background: $fundo;
	font-size: $tamanhoFonte;
}
.row{
	margin: 0;
}


.conteudo-interno{
	background: $branco;
	border-radius: 10px;
	padding:10px 0;

	.row{
		margin:0 0 8px 0;
	}

	.titulo-interno{
		 line-height: 30px;
		 color: $preto;
	}

}


.cursor-ponteiro{
	cursor: pointer;
}