.cabecalho-modal {
    @extend .modal-header;
    padding: 0;
}


.titulo-modal {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: $tituloModal;
    margin-left: 13px;
}

.fechar {
	@extend .close;
    margin-right: 5px;
    margin-top: -2px;
}

.conteudo-modal {
	 @extend .modal-body;
}

.rodape-modal {
	@extend .modal-footer;
}