.navegacao-estrutural{
	padding: 0;
	.itens{
		@extend .breadcrumb;
		margin: 0;
	}
	.item{
		list-style: none;
		color:$textoEscuro;
		font-size: 11px;
		.fa{
			color: $link;
		}
		
		&:before{
			content: '';
			@extend .fa,.fa-angle-right;
			color: $textoEscuro;
		}

		&:first-child:before{
			display: none;
		}
	}
	.item-link{
		color: $link;
	}
}