.resultados{
	overflow: auto;
}
.tabela{
	@extend .table, .table-striped, .table-hover;
	border: 1px solid #ddd;
	border-radius: 5px;
	overflow: auto;
	font-family: $fonteSecundaria;
	font-size: 12px;

	.tabela-cabecalho{
		background-color: $tabelaCabecalho;
		color: $branco;
	}
	.celula{
		vertical-align: middle;
		font-size: 13px;
	}
	.tabela-acoes{
		@extend .text-right;
		width: 17%;
		.fa{
			@extend .cursor-ponteiro;
			font-size: 24px;
			margin: 0 10px 0 0 ;
		}
		.fa-check{
			color: $textoClaro;
		}
		.fa-pencil{
			color: $confirmar;
		}
		.fa-search{
			color: $texto;
		}
		.fa-times{
			color: $menu;
		}
		&.ativo{
			.fa-check{
				color: $sucesso;
			}
		}
	}
}

.conteudo-modal {
	.tabela {
		border-left: none;
		border-right: none;
	}
}