<div class="cabecalho-modal"> <a type="button" class="close" ng-click="fechar()">×</a>
<h4 class="titulo-modal"><em>Detalhes do Fornecedor</em></h4>
</div>
<div class="conteudo-modal">
<div class="row clearfix">
    <div class="col-md-12">
        <table border="0" class="tabela">
            <tbody>
                <tr>
                    <td class="celula"><strong>Razão Social:</strong></td>
                    <td class="celula">Lorem Ipsun Lorem Ipsun </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="rodape-modal">
    <button class="bt bt-padrao bt-cancelar" type="button" ng-click="fechar()"><mark class="cor"></mark>Fechar</button>
</div>