<section>
    <div class="row conteudo-interno">
        <spt-cabecalho-pagina-diretiva titulo="Teste">
            <button class="bt bt-incluir" spt-modal-diretiva titulo="{{titulo}}" acao="incluir" modulo="fornecedor" >
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                Incluir <span ng-bind="titulo">
            </button>
        </spt-cabecalho-pagina-diretiva>        
        <div class="row">
            <div class="col-md-12">
                <div class="formulario">
                    <form class="filtro">
                        <div class="acordion">
                            <em class="titulo-filtro">Filtro(s) de Pesquisa:</em>
							<span class="conteudo-filtrado">
								<i class="fa fa-info-circle" aria-hidden="true"></i>
								<strong>Razão Social:</strong> 
								Loren Ipsun
								<strong>CNPJ:</strong> 
								Loren Ipsun
								<strong>Situação:</strong> 
								Loren Ipsun
							</span>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-md-2 control-label">Razão Social:</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-md-2 control-label">CNPJ:</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-md-2 control-label">Situação:</label>
                            <div class="col-md-3">
                                <select name="" id="" class="form-control">
                                    <option value="">Selecione...</option>
                                    <option value="1">Ativo</option>
                                    <option value="2">Inativo</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group acoes">
                            <button type="cancel" class="bt bt-padrao bt-aviso">
                                <mark class="cor"></mark>
                                Limpar
                            </button>
                            <button type="submit" class="bt bt-padrao bt-sucesso">
                                <mark class="cor"></mark>
                                Buscar
                            </button>
                            <button type="cancel" class="bt bt-padrao bt-cancelar">
                                <mark class="cor"></mark>
                                Limpar
                            </button>
                            <button type="submit" class="bt bt-padrao">
                                <mark class="cor"></mark>
                                Buscar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <spt-lista-diretiva>
        </spt-lista-diretiva>
    </div>
</section>