//Basico
$branco:#fff;
$preto:#000;
$fundo:#F5F5F5;
$texto:#333;
$textoClaro:#cbcbcb;
$textoEscuro:#333;

//Menu
$menu:#EE1C25;
$menuOver:#a80f14;

//Botões:
$link:#ae1102;
$aviso: #bfad21;
$sucesso: #4b884c; 
$cancelar: #951901;
$confirmar: #428bca;

//Titulo
$tituloModal: #527fae;

// Tabelas
$tabelaCabecalho: #999;
