@font-face {
	font-family: 'FontAwesome';
	src: url($caminhoFontes + 'font-awesome/fontawesome-webfont.eot');
	src: url($caminhoFontes + 'font-awesome/fontawesome-webfont.eot') format('embedded-opentype'),
	url($caminhoFontes + 'font-awesome/fontawesome-webfont.woff') format('woff'),
	url($caminhoFontes + 'font-awesome/fontawesome-webfont.woff2') format('woff2'),
	url($caminhoFontes + 'font-awesome/fontawesome-webfont.ttf') format('truetype'),
	url($caminhoFontes + 'font-awesome/fontawesome-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'latoregular';
	src: url($caminhoFontes + 'lato-regular-webfont.eot');
	src: url($caminhoFontes + 'lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url($caminhoFontes + 'lato-regular-webfont.woff2') format('woff2'),
		 url($caminhoFontes + 'lato-regular-webfont.woff') format('woff'),
		 url($caminhoFontes + 'lato-regular-webfont.ttf') format('truetype'),
		 url($caminhoFontes + 'lato-regular-webfont.svg#latoregular') format('svg');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'latolight_italic';
	src: url($caminhoFontes + 'lato-lightitalic-webfont.eot');
	src: url($caminhoFontes + 'lato-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
		 url($caminhoFontes + 'lato-lightitalic-webfont.woff2') format('woff2'),
		 url($caminhoFontes + 'lato-lightitalic-webfont.woff') format('woff'),
		 url($caminhoFontes + 'lato-lightitalic-webfont.ttf') format('truetype'),
		 url($caminhoFontes + 'lato-lightitalic-webfont.svg#latolight_italic') format('svg');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'latolight';
	src: url($caminhoFontes + 'lato-light-webfont.eot');
	src: url($caminhoFontes + 'lato-light-webfont.eot?#iefix') format('embedded-opentype'),
		 url($caminhoFontes + 'lato-light-webfont.woff2') format('woff2'),
		 url($caminhoFontes + 'lato-light-webfont.woff') format('woff'),
		 url($caminhoFontes + 'lato-light-webfont.ttf') format('truetype'),
		 url($caminhoFontes + 'lato-light-webfont.svg#latolight') format('svg');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'latoitalic';
	src: url($caminhoFontes + 'lato-italic-webfont.eot');
	src: url($caminhoFontes + 'lato-italic-webfont.eot?#iefix') format('embedded-opentype'),
		 url($caminhoFontes + 'lato-italic-webfont.woff2') format('woff2'),
		 url($caminhoFontes + 'lato-italic-webfont.woff') format('woff'),
		 url($caminhoFontes + 'lato-italic-webfont.ttf') format('truetype'),
		 url($caminhoFontes + 'lato-italic-webfont.svg#latoitalic') format('svg');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'latohairline_italic';
	src: url($caminhoFontes + 'lato-hairlineitalic-webfont.eot');
	src: url($caminhoFontes + 'lato-hairlineitalic-webfont.eot?#iefix') format('embedded-opentype'),
		 url($caminhoFontes + 'lato-hairlineitalic-webfont.woff2') format('woff2'),
		 url($caminhoFontes + 'lato-hairlineitalic-webfont.woff') format('woff'),
		 url($caminhoFontes + 'lato-hairlineitalic-webfont.ttf') format('truetype'),
		 url($caminhoFontes + 'lato-hairlineitalic-webfont.svg#latohairline_italic') format('svg');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'latohairline';
	src: url($caminhoFontes + 'lato-hairline-webfont.eot');
	src: url($caminhoFontes + 'lato-hairline-webfont.eot?#iefix') format('embedded-opentype'),
		 url($caminhoFontes + 'lato-hairline-webfont.woff2') format('woff2'),
		 url($caminhoFontes + 'lato-hairline-webfont.woff') format('woff'),
		 url($caminhoFontes + 'lato-hairline-webfont.ttf') format('truetype'),
		 url($caminhoFontes + 'lato-hairline-webfont.svg#latohairline') format('svg');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'latobold_italic';
	src: url($caminhoFontes + 'lato-bolditalic-webfont.eot');
	src: url($caminhoFontes + 'lato-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
		 url($caminhoFontes + 'lato-bolditalic-webfont.woff2') format('woff2'),
		 url($caminhoFontes + 'lato-bolditalic-webfont.woff') format('woff'),
		 url($caminhoFontes + 'lato-bolditalic-webfont.ttf') format('truetype'),
		 url($caminhoFontes + 'lato-bolditalic-webfont.svg#latobold_italic') format('svg');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'latobold';
	src: url($caminhoFontes + 'lato-bold-webfont.eot');
	src: url($caminhoFontes + 'lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url($caminhoFontes + 'lato-bold-webfont.woff2') format('woff2'),
		 url($caminhoFontes + 'lato-bold-webfont.woff') format('woff'),
		 url($caminhoFontes + 'lato-bold-webfont.ttf') format('truetype'),
		 url($caminhoFontes + 'lato-bold-webfont.svg#latobold') format('svg');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'latoblack_italic';
	src: url($caminhoFontes + 'lato-blackitalic-webfont.eot');
	src: url($caminhoFontes + 'lato-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
		 url($caminhoFontes + 'lato-blackitalic-webfont.woff2') format('woff2'),
		 url($caminhoFontes + 'lato-blackitalic-webfont.woff') format('woff'),
		 url($caminhoFontes + 'lato-blackitalic-webfont.ttf') format('truetype'),
		 url($caminhoFontes + 'lato-blackitalic-webfont.svg#latoblack_italic') format('svg');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'latoblack';
	src: url($caminhoFontes + 'lato-black-webfont.eot');
	src: url($caminhoFontes + 'lato-black-webfont.eot?#iefix') format('embedded-opentype'),
		 url($caminhoFontes + 'lato-black-webfont.woff2') format('woff2'),
		 url($caminhoFontes + 'lato-black-webfont.woff') format('woff'),
		 url($caminhoFontes + 'lato-black-webfont.ttf') format('truetype'),
		 url($caminhoFontes + 'lato-black-webfont.svg#latoblack') format('svg');
	font-weight: normal;
	font-style: normal;

}