$tamanhoFonte:16px;
$caminhoFontes:'../fontes/';
$caminhoImagens:'../imagens/';
$screen-md-min:992px;

//Fonts
$fontePrimaria:'latoregular';
$fontePrimariaItalico:'latoitalic';
$fontePrimariaNegrito:'latobold';
$fontePrimariaNegritoItalico:'latobold_italic';
$fonteSecundaria:verdana, sans-serif;

