<ul class="pagination" ng-if="1 < pages.length || !autoHide">
    <li ng-if="directionLinks" ng-class="{ disabled : pagination.current == 1 }">
        <a href="" ng-click="setCurrent(pagination.current - 1)">
            <i class="fa fa-chevron-left" aria-hidden="true">
        </a>
    </li>
    <li ng-repeat="pageNumber in pages track by tracker(pageNumber, $index)" ng-class="{ active : pagination.current == pageNumber, disabled : pageNumber == '...' }">
        <a href="" ng-click="setCurrent(pageNumber)">{{ pageNumber }}</a>
    </li>

    <li ng-if="directionLinks" ng-class="{ disabled : pagination.current == pagination.last }">
        <a href="" ng-click="setCurrent(pagination.current + 1)">
            <i class="fa fa-chevron-right" aria-hidden="true">
        </a>
    </li>
    <li ng-class="mais-resultados">
        <a href="" ng-click="buscarResultados(pages.length + 100)">Mais</a>
    </li>
</ul>