<div class="row">
    <div class="col-sm-12 col-md-8">
        <em class="titulo-interno">Manutenção - <span ng-bind="titulo"></em>
    </div>
    <div class=" col-sm-12 col-md-4">
        <ng-transclude></ng-transclude>
    </div>
</div>