<div class="row resultados">
	<div class="col-md-12">
		<table class="tabela" width="100%">
			<thead class="tabela-cabecalho">
				<tr>
					<th>Identificador</th>
					<th>Razão Social</th>
					<th>CNPJ</th>
					<th>Ações</th>
				</tr>
			</thead>
			<tbody class="tabela-conteudo">
				<tr dir-paginate="item in items | itemsPerPage: 10">
					<td class="celula">{{item.identificador}}</td>
					<td class="celula">{{item.razao_social}}</td>
					<td class="celula">{{item.cnpj}}</td>
					<td class="celula tabela-acoes">
						<i class="fa fa-check" aria-hidden="true"></i>
						<i class="fa fa-pencil" aria-hidden="true"></i>
						<i class="fa fa-search" spt-modal-diretiva acao="detalhes" modulo="fornecedor" aria-hidden="true"></i>
						<i class="fa fa-times" ng-click="deletarDados(item.id)" aria-hidden="true"></i>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="paginacao col-md-12">
			<dir-pagination-controls boundary-links="true" template-url="app/templates/paginacao.diretiva.html"></dir-pagination-controls>
		</div>
	</div>
</div>
